<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Course Codes</th>
                    <th scope="col">7 - 9</th>
                    <th scope="col">9 - 11</th>
                    <th scope="col">11 - 1</th>
                    <th scope="col">2 - 4</th>
                    <th scope="col">4 - 6</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th rowspan="4">MON</th>
                    <td>CCS 1</td>
                    <td>CCS-102(TB-1)</td>
                    <td>CCS-108(TB-5)</td>
                    <td>CCS-104(TB-3)</td>
                    <td>CCS-116(TB-4)</td>
                    <td>CCS-112(TB-6)</td>
                  </tr>
                  <tr>
                    <td>CCS 2</td>
                    <td>CCS-202(TB-12)</td>
                    <td>CCS-208(TB-15)</td>
                    <td>CCS-204(TB-13)</td>
                    <td>CCS-216(TB-14)</td>
                    <td>CCS-212(TB-16)</td>
                  </tr>
                  <tr>
                    <td>CCS 3</td>
                    <td>CCS-302(TB-23)</td>
                    <td>CCS-308(TB-25)</td>
                    <td>CCS-304(TB-23)</td>
                    <td>CCS-316(TB-24)</td>
                    <td>CCS-312(TB-26)</td>
                  </tr>
                  <tr>
                    <td>CCS 4</td>
                    <td>CCS-402(TB-34)</td>
                    <td>CCS-408(TB-35)</td>
                    <td>CCS-404(TB-33)</td>
                    <td>CCS-416(TB-34)</td>
                    <td>CCS-412(TB-36)</td>
                  </tr>
                  <tr>
                    <th rowspan="4">TUE</th>
                    <td>CCS 1</td>
                    <td>CCS-306(TB-1)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-318(TB-6)</td>
                  </tr>
                  <tr>
                    <td>CCS 2</td>
                    <td>CCS-202(TB-32)</td>
                    <td>CCS-208(TB-35)</td>
                    <td>CCS-204(TB-33)</td>
                    <td>CCS-216(TB-34)</td>
                    <td>CCS-212(TB-36)</td>
                  </tr>
                  <tr>
                    <td>CCS 3</td>
                    <td>CCS-302(TB-23)</td>
                    <td>CCS-308(TB-25)</td>
                    <td>CCS-304(TB-23)</td>
                    <td>CCS-316(TB-24)</td>
                    <td>CCS-312(TB-26)</td>
                  </tr>
                  <tr>
                    <td>CCS 4</td>
                    <td>CCS-402(TB-44)</td>
                    <td>CCS-408(TB-45)</td>
                    <td>CCS-404(TB-43)</td>
                    <td>CCS-416(TB-44)</td>
                    <td>CCS-412(TB-46)</td>
                  </tr>
                  <tr>
                    <th rowspan="4">WED</th>
                    <td>CCS 1</td>
                    <td>CCS-317(TB-41)</td>
                    <td>CCS-308(TB-51)</td>
                    <td>CCS-314(TB-71)</td>
                    <td>CCS-316(TB-41)</td>
                    <td>CCS-310(TB-61)</td>
                  </tr>
                  <tr>
                    <td>CCS 2</td>
                    <td>CCS-202(TB-22)</td>
                    <td>CCS-208(TB-25)</td>
                    <td>CCS-204(TB-32)</td>
                    <td>CCS-216(TB-42)</td>
                    <td>CCS-212(TB-62)</td>
                  </tr>
                  <tr>
                    <td>CCS 3</td>
                    <td>CCS-302(TB-43)</td>
                    <td>CCS-308(TB-45)</td>
                    <td>CCS-304(TB-43)</td>
                    <td>CCS-316(TB-44)</td>
                    <td>CCS-312(TB-46)</td>
                  </tr>
                  <tr>
                    <td>CCS 4</td>
                    <td>CCS-402(TB-40)</td>
                    <td>CCS-408(TB-50)</td>
                    <td>CCS-404(TB-30)</td>
                    <td>CCS-416(TB-40)</td>
                    <td>CCS-412(TB-60)</td>
                  </tr>
                  <tr>
                    <th rowspan="4">THUR</th>
                    <td>CCS 1</td>
                    <td>CCS-306(TB-2)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-318(TB-4)</td>
                  </tr>
                  <tr>
                    <td>CCS 2</td>
                    <td>CCS-202(TB-12)</td>
                    <td>CCS-208(TB-15)</td>
                    <td>CCS-204(TB-13)</td>
                    <td>CCS-216(TB-14)</td>
                    <td>CCS-212(TB-16)</td>
                  </tr>
                  <tr>
                    <td>CCS 3</td>
                    <td>CCS-302(TB-23)</td>
                    <td>CCS-308(TB-25)</td>
                    <td>CCS-304(TB-23)</td>
                    <td>CCS-316(TB-24)</td>
                    <td>CCS-312(TB-26)</td>
                  </tr>
                  <tr>
                    <td>CCS 4</td>
                    <td>CCS-402(TB-34)</td>
                    <td>CCS-408(TB-35)</td>
                    <td>CCS-404(TB-33)</td>
                    <td>CCS-416(TB-34)</td>
                    <td>CCS-412(TB-36)</td>
                  </tr>
                  <tr>
                    <th rowspan="4">FRI</th>
                    <td>CCS 1</td>
                    <td>CCS-314(LAB-1)</td>
                    <td>CCS-314(LAB-2)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-312(TB-4)</td>
                  </tr>
                  <tr>
                    <td>CCS 2</td>
                    <td>CCS-202(TB-22)</td>
                    <td>CCS-208(TB-25)</td>
                    <td>CCS-204(TB-23)</td>
                    <td>CCS-216(TB-24)</td>
                    <td>CCS-212(TB-26)</td>
                  </tr>
                  <tr>
                    <td>CCS 3</td>
                    <td>CCS-302(TB-13)</td>
                    <td>CCS-308(TB-15)</td>
                    <td>CCS-304(TB-13)</td>
                    <td>CCS-316(TB-14)</td>
                    <td>CCS-312(TB-8)</td>
                  </tr>
                  <tr>
                    <td>CCS 4</td>
                    <td>CCS-402(TB-34)</td>
                    <td>CCS-408(TB-35)</td>
                    <td>CCS-404(TB-33)</td>
                    <td>CCS-416(TB-34)</td>
                    <td>CCS-412(TB-36)</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>