<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Dept</th>
                    <th scope="col">7 - 9</th>
                    <th scope="col">9 - 11</th>
                    <th scope="col">11 - 1</th>
                    <th scope="col">2 - 4</th>
                    <th scope="col">4 - 6</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">MON</th>
                    <td>CCS</td>
                    <td>CCS-302(TB-1)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-304(TB-3)</td>
                    <td>CCS-316(TB-4)</td>
                    <td>CCS-312(TB-6)</td>
                  </tr>
                  <tr>
                    <th scope="row">TUE</th>
                    <td>CCS</td>
                    <td>CCS-306(TB-1)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-318(TB-6)</td>
                  </tr>
                  <tr>
                    <th scope="row">WED</th>
                    <td>CCS</td>
                    <td>CCS-317(TB-4)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-314(TB-7)</td>
                    <td>CCS-316(TB-4)</td>
                    <td>CCS-310(TB-6)</td>
                  </tr>
                  <tr>
                    <th scope="row">THUR</th>
                    <td>CCS</td>
                    <td>CCS-306(TB-2)</td>
                    <td>CCS-308(TB-5)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-318(TB-4)</td>
                  </tr>
                  <tr>
                    <th scope="row">FRI</th>
                    <td>CCS</td>
                    <td>CCS-314(LAB)</td>
                    <td>CCS-314(LAB)</td>
                    <td>CCS-310(TB-3)</td>
                    <td>CCS-312(TB-4)</td>
                    <td>CCS-312(TB-4)</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>