<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br>
    <div class="row">
        <div class="col-md-7 mx-auto">
            <form class="row g-3">
                <p class="display-6 text-center">Add Rooms Here!</p>
                <div class="col-md-6">
                    <label class="form-label">Room Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Room Capacity</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-12">
                  <label class="form-label">Department</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-primary">Add Room</button>
                </div>
              </form>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-success table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Room Capacity</th>
                        <th scope="col">Room Name</th>
                        <th scope="col">Dept Name</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>35</td>
                        <td>TB1</td>
                        <td>Computer Science</td>
                        <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> &nbsp; <button class="btn btn-danger">Delete</button> </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>35</td>
                        <td>TB1</td>
                        <td>Computer Science</td>
                        <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> &nbsp; <button class="btn btn-danger">Delete</button> </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Room Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Room Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Room Capacity</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                          <label class="form-label">Department</label>
                          <input type="text" class="form-control">
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</main>